# Зависимости
node_modules/

# Результаты сборки
dist/
build/

# Логи
*.log

# Файлы окружения
.env
.env.local
.env.production

# Кэш npm
.npm

# Временные файлы
*.tmp
*.swp
*.swo
*~

# Файлы IDE
.idea/
.vscode/